[Unit]
Description=Set Wi-Fi regulatory domain
After=network-pre.target
Before=network.target NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/iw reg set US
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
